{# 头部大屏 #}
<div
    class="jumbotron jumbotron-fluid mb-2 h-110px h-sm-250px"
    style="background:#e9ecef; background-image: url({{section_cover}}); background-position: 50% 50%;background-size: cover;"
>
    {#
    <div class="container text-light">
        {% if section_name %}
        <p class="fs-14 fs-sm-18 wow fadeInDown">{{section_name}}</p>
        {% endif %} {% if section_description %}
        <p class="fs-14 fs-sm-18 wow fadeInDown">{{section_description}}</p>
        {% endif %}
    </div>
    #}
</div>
