{% extends './comm/main.html' %} {% block content %}
<h2 class="fs-sm-30 fs-14 pb-4 border-bottom-solid">{{section_name}}</h2>
<div class="content fs-14">
    <div class="fs-sm-16 fs-12 text-secondary">
        There is no problem too difficult, no price too great. Duty first, value second,
        and good business is always about remanaging order.
    </div>

    <div class="mb-4 wow fadeInUp section">
        <div>
            <div class="fs-sm-24 fs-14 primary">团队与视野</div>
            <p>经验丰富和专业的投资团队</p>
            <p>全球的产业布局和项目来源</p>
            <p>实力雄厚的股东和合作伙伴</p>
            <p>多元化和跨市场的退出机会</p>
        </div>
    </div>
</div>
{% endblock %}
