{% extends './comm/layout.html' %} {% block content %} {# 幻灯片 #}
<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="">
                <img
                    src="/theme/{{options.theme}}/images/b1.jpg"
                    class="d-block w-100 h-min-230px"
                />
            </a>
            <div class="container">
                <div class="position-absolute text-light" style="top: 30%">
                    {#
                    <h1 class="fs-20 fs-sm-32 wow slideInUp">欢迎关注中环国信官网</h1>
                    <h4 class="fs-14 fs-sm-20 wow slideInUp"></h4>
                    #}
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <a href="">
                <img
                    src="/theme/{{options.theme}}/images/b2.jpg"
                    class="d-block w-100 h-min-230px"
                />
            </a>
            <div class="container">
                <div class="position-absolute text-light" style="top: 30%">
                    <h1 class="fs-20 fs-sm-32 wow slideInUp"></h1>
                    <h4 class="fs-14 fs-sm-20 wow slideInUp"></h4>
                </div>
            </div>
        </div>
    </div>
    {# 左箭头 #} {#
    <div class="swiper-button-prev d-none d-md-block"></div>
    #} {# 右箭头 #} {#
    <div class="swiper-button-next d-none d-md-block"></div>
    #}
    <div class="swiper-pagination"></div>
</div>

{# 集团概览 #}
<div class="bg-white py-5">
    <div class="container">
        <div class="text-center fs-26 fs-sm-28 mb-5 wow fadeInDown">
            <strong
                ><span class="primary">{{i18n.t('集团')}}</span
                >{{i18n.t('概览')}}</strong
            >
        </div>
        <!-- <div
            class="text-center fs-14 fs-sm-12 mb-5 text-secondary wow fadeInUp"
            data-wow-delay="1s"
        >
            Group Overview
        </div> -->
        <div class="text-sm-center" style="line-height: 2; color: #595959">
            中轴线数字股份有限公司及中轴线投资基金有限公司（简称“中轴线”）成立于2015年6月23日，是一家有使命感和专注于价值投资的机构；也是一家致力于产业振兴和发展以及新兴市场引进的集团公司。我们的核心业务包括私募股权投资，资产管理，特殊机会投资。
        </div>
    </div>
</div>

{# 价值观 #}
<div class="bg-light py-5">
    <div class="container">
        <div class="text-center fs-26 fs-sm-28 wow fadeInDown">
            <strong>{{i18n.t('价值观')}}</strong>
        </div>
        <div
            class="text-center fs-14 fs-sm-12 mb-5 text-secondary wow fadeInUp"
            data-wow-delay="1s"
        >
            There is no problem too difficult, no price too great. Duty first, value
            second, and good business is always about remanaging order.
        </div>

        <h5 style="text-align: center" class="mb-5 wow fadeInUp" data-wow-delay="500ms">
            <span class="primary">{{i18n.t('团队与视野')}}</span>
        </h5>

        <div
            class="row"
            onclick="(function() { window.location.href = '/advantage' + '?lang={{lang}}' })()"
        >
            <div
                class="col-12 col-lg-3 mb-3 wow fadeInUp clickable"
                data-wow-delay="500ms"
            >
                <div class="media mb-3 flex-item">
                    <div class="iconfont icon_investment fs-40 fs-sm-70 lh-1"></div>
                    <p>
                        <span class="lh-2">{{i18n.t('经验丰富和专业的投资团队')}}</span>
                    </p>
                </div>
            </div>
            <div
                class="col-12 col-lg-3 mb-3 wow fadeInUp clickable"
                data-wow-delay="500ms"
            >
                <div class="media mb-3 flex-item">
                    <div class="iconfont icon_shili fs-40 fs-sm-70 lh-1"></div>
                    <p>
                        <span class="lh-2">{{i18n.t('全球的产业布局和项目来源')}}</span>
                    </p>
                </div>
            </div>
            <div
                class="col-12 col-lg-3 mb-3 wow fadeInUp clickable"
                data-wow-delay="500ms"
            >
                <div class="media mb-3 flex-item">
                    <div class="iconfont icon_renmai fs-40 fs-sm-70 lh-1"></div>
                    <p>
                        <span class="lh-2">{{i18n.t('实力雄厚的股东和合作伙伴')}}</span>
                    </p>
                </div>
            </div>
            <div
                class="col-12 col-lg-3 mb-3 wow fadeInUp clickable"
                data-wow-delay="500ms"
            >
                <div class="media mb-3 flex-item">
                    <div class="iconfont icon_juece fs-40 fs-sm-70 lh-1"></div>
                    <p>
                        <span class="lh-2">{{i18n.t('多元化和跨市场的退出机会')}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{# 控股与被投企业 #}
<div class="bg-white py-5">
    <div class="container content">
        <div class="text-center fs-26 fs-sm-28 mb-5 wow fadeInDown">
            <strong>{{i18n.t('控股与被投企业')}}</strong>
        </div>
        <!-- <div
            class="text-center fs-14 fs-sm-12 mb-5 text-secondary wow fadeInUp"
            data-wow-delay="1s"
        >
            Holding and invested enterprises
        </div> -->
        <div class="row">
            {% for enterprise in enterprises %}
            <div
                class="col-12 col-lg-6 mb-4 pb-4 wow fadeInUp clickable"
                data-wow-duration="1.5s"
                onclick="(function() { window.location.href = '/enterprise/{{enterprise.post_id}}' + '?lang={{lang}}' })()"
            >
                <div style="overflow: hidden">
                    <img
                        class="img-h-fit"
                        src="{{JSON.parse(enterprise.options).featuredImage}}"
                        alt=""
                    />
                </div>
                <div class="fs-sm-16 fs-14 lh-sm-2">{{enterprise.title}}</div>
                <div class="fs-14 fs-sm-12 text-secondary text-overflow">
                    {{enterprise.summary | safe}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{# 投资方向 #}
<div class="bg-light py-5">
    <div class="container content">
        <div class="text-center fs-26 fs-sm-28 wow fadeInDown">
            <strong
                >{{i18n.t('投资')}}<span class="primary"
                    >{{i18n.t('方向')}}</span
                ></strong
            >
        </div>
        <!-- <div
            class="text-center fs-14 fs-sm-12 mb-5 text-secondary wow fadeInUp"
            data-wow-delay="1s"
        >
            Investment Orientation
        </div> -->
        <div class="row">
            {% for investment in investments %}
            <div
                class="col-12 col-lg-3 pb-4 wow fadeInUp clickable"
                data-wow-duration="1.5s"
                onclick="(function() { window.location.href = '/investment/{{investment.post_id}}' + '?lang={{lang}}' })()"
            >
                <div class="fs-sm-16 fs-14 lh-sm-2">{{investment.title}}</div>
                <div
                    class="fs-14 fs-sm-12 text-secondary"
                    style="
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    "
                >
                    {{investment.summary | safe}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{# 公益事业 #}
<div class="bg-white py-5">
    <div class="container content">
        <div class="text-center fs-26 fs-sm-28 wow fadeInDown">
            <strong
                >{{i18n.t('公益')}}<span class="primary"
                    >{{i18n.t('事业')}}</span
                ></strong
            >
        </div>
        <!-- <div
            class="text-center fs-14 fs-sm-12 mb-5 text-secondary wow fadeInUp"
            data-wow-delay="1s"
        >
            PUBLIC WELFARE
        </div> -->
        <div
            class="row"
            onclick="(function() {window.location.href = '/public/' + '?lang={{lang}}'})()"
        >
            <div
                class="col-12 col-lg-3 mb-3 wow fadeInUp clickable"
                data-wow-duration="500ms"
            >
                <div
                    class="media mb-3"
                    style="justify-content: center; align-items: center"
                >
                    <div class="iconfont icon_edu fs-40 fs-sm-70 lh-1"></div>
                    <div style="padding: 0 20px">
                        <h5>{{i18n.t('教育资助类公益')}}</h5>
                    </div>
                </div>
            </div>
            <div
                class="col-12 col-lg-3 mb-3 wow fadeInUp clickable"
                data-wow-duration="500ms"
            >
                <div
                    class="media mb-3"
                    style="justify-content: center; align-items: center"
                >
                    <div class="iconfont icon_talents fs-40 fs-sm-70 lh-1"></div>
                    <div style="padding: 0 20px">
                        <h5>{{i18n.t('人才建设类公益')}}</h5>
                    </div>
                </div>
            </div>
            <div
                class="col-12 col-lg-3 mb-3 wow fadeInUp clickable"
                data-wow-duration="500ms"
            >
                <div
                    class="media mb-3"
                    style="justify-content: center; align-items: center"
                >
                    <div class="iconfont icon_protect fs-40 fs-sm-70 lh-1"></div>
                    <div style="padding: 0 20px">
                        <h5>{{i18n.t('女性维权类公益')}}</h5>
                    </div>
                </div>
            </div>
            <div
                class="col-12 col-lg-3 mb-3 wow fadeInUp clickable"
                data-wow-duration="500ms"
            >
                <div
                    class="media mb-3"
                    style="justify-content: center; align-items: center"
                >
                    <div class="iconfont icon_medical fs-40 fs-sm-70 lh-1"></div>
                    <div style="padding: 0 20px">
                        <h5>{{i18n.t('医疗健康类公益')}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/theme/{{options.theme}}/swiper-4.3.5/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        speed: 1500,
        autoplay: {
            delay: 3500,
            disableOnInteraction: false,
        },

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>

{% endblock %}
